
/* ----------------------------------------------------

        ********** Table of Conteant *************
1. google fonts
2. variable
3. overrides variable for - theme dark
4. base
5. box
6. customized bootstrap classes
7. animation keyframes
8. section - padding , title
9. button
10. page loader
11. circular img 
12. forms
13. video model
14. pagination
15. breadcrumb
16. tabs
17. bubble animation
18. style switcher
19. header
20. fooder
21. banner section
22. fun facts section
23. courses section
24. testimonials section
25. bai section
26. course datails section
27. contact section
--------------------------------------------------------*/

/* 1. google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* 2. variable */
:root{
    --orange: hsl(36, 80%,50%);
    --white: #fff;
    --BLACK: hsl(0, 0, 0);
    --black-90: hsl(0, 0, 10%);
    --black-70: hsl(0, 0, 30%);
    --black-alpha-40: hsla(0, 0, 0, 0.4);
    --yellow-light: hsl(44, 95, 83);
    --green-light: hsl(158, 68, 83);
    --red-light: hsl(0, 84, 80);
    --orange-light: hsl(22, 85, 80);
    --section-box-bg-color: hsl(0 , 0, 100%);
    --border-color: hsl(0, 0, 90%);
    --art-color:#c59d5f;


    /* color-1 */
    --hue-value-1: 0;
    --hue-value-2: 230;
    --main-color: hsl(0, 74%, 61%);
    --button-hover-color: hsl(0, 57%, 53%);

    --body-bg-color: hsl(var(--hue-value-1), 63%, 97%);
    --border-color-2: hsl(0, 40%, 93%);
    --shadow: 0 0 10px hsl(0, 40%, 90%);
    --body-gradient-bg-color-1: hsla(var(--hue-value-1), 100%, 50%, 0.2);
    --body-gradient-bg-color-2: hsla(var(--hue-value-2), 100%, 50%, 0.2);
    --decoration-bg-color-1: hsl(0, 100%, 70%);
    --decoration-b-color-2: hsl(var(--hue-value-2), 100%, 70%);
}



/* 3. overrides variable for - theme dark */




/* 4. base */
*{
    box-sizing: border-box;
}
body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    color: var(--main-color);
    text-decoration: none;
    text-transform: capitalize;
}
html {
    scroll-behavior: smooth;
  }
a:hover{
    color: var(--main-color);
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.3;
}
::selection{
    color: var(--white);
    background-color: var(--main-color);
}
/* 5. box */




/* 6. customized bootstrap classes */




/* 7. animation keyframes */




/* 8. section - padding , title */




/* 9. button */
.btn-theme{
    background-color: var(--main-color);
    color: var(--white);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.3s ease;
}
.btn-theme:hover{
    color: hsl(0 , 0, 100%);
    background-color: var(--button-hover-color);
}
.btn-por{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
.btn-portrait{
    color: var(--black-70);
    font-size: 16px;
    border: 2px solid #000;
    padding: 8px 20px;
    letter-spacing: 1px;
    transition: 0.3s ease;
   
}
.btn-portrait:hover{
    color: var(--BLACK);
    letter-spacing: 2.5px;
    
}

.btn-artist{
    color: var(--black-70);
    font-size: 16px;
    border: 2px solid #fff;
    padding: 8px 20px;
    letter-spacing: 1px;
    transition: 0.3s ease;
   
}
.btn-artist:hover{
    color: var(--BLACK);
    letter-spacing: 2.5px;
    
}

/* line */
.border{
    width: 85%;
    margin: 70px auto 50px auto;
    color: #000;
}


/* 10. page loader */




/* 11. circular img  */
.image{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    column-gap: 10px;
    row-gap: 10px;
}
.image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}



/* 12. forms */




/* 13. video model */




/* 14. pagination */





/* 15. breadcrumb */
.breadcrumb-nav{
    padding: 10px 0;
    margin-top: 100px;
}
.breadcrumb-nav .breadcrumb-item{
    font-size: 14px; 
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item.active{
    color: var(--black-70);
}



/* 16. tabs */
.nav-tabs .nav-link{
    background-color: #fff;
    text-transform: capitalize;
    border-color: var(--border-color-2);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 12px;
    margin: 0 5px 10px;
    color: var(--black-70);
}
.nav-tabs .nav-link:hover{
    border-color: var(--border-color-2);
}
.nav-tabs .nav-link.active{
    background-color: var(--main-color);
    border-color: transparent;
    color: #fff;
}



/* 17. bubble animation */





/* 18. style switcher */





/* 19. header */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header-logo a{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black-70);
    border: 4px solid #000;
    padding: 5px;
}
.header-logo span{
    color: var(--main-color);
}
.header .menu-item{
    display: inline-block;
    margin-left: 40px;
}
.header .menu-item > a{
    font-size: 18px;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: var(--black-90);
    transition: color 0.3s ease;
}
.header .sub-menu-item a:hover,
.header .menu-item:hover > a{
    color: var(--main-color);
}
.header .menu-item > a i{
    font-size: 13px;
    margin-left: 3px;
    pointer-events: none;
}
.header .sub-menu{
    position: absolute;
    background-color: #fff;
    width: 165px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
}
@media(min-width: 992px){
    .header .menu-item:hover > .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
.header .sub-menu-item a{
    display: block;
    padding: 10px 20px;
    color: var(--black-90);
    font-weight: 400;
    transition: color 0.3s ease;
}
.header-backdrop,
.header-close-btn,
.header-hamburger-btn{
    display: none;
}

/* Change background header */
.scroll-header {
    background-color: var(--white);
    box-shadow: 0 0 4px rgba(14, 55, 63, .5);  
}


/* 20. fooder */
.footer-top{
    padding: 70px 0 10px;
    background-color: #444;
    color: rgb(189, 189, 189);
}
.foter-item{
    margin: 0 0 30px;
   
}
.footer-item h3{
    text-transform: capitalize;
    margin: 0 0 20px;
    font-size: 20px;
}
.footer-item .footer-logo{
    color: var(--black-70);
    text-transform: uppercase;
}
.footer-item .footer-logo span{
    color: var(--main-color);
}
.footer-item ul li:not(:last-child){
    margin-bottom: 8px;
}
.footer-item ul li a{
    text-transform: capitalize;
    color: var(--black-70);
    transition: color 0.3s ease;
    position: relative;
    color: #979797;
}
.footer-item ul a:hover{
    color: var(--main-color);
}
.footer-item ul a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}
.footer-item ul a:hover::before{
    width: 100%;
}

.footer-item ul a .social-icon{
    margin-right: 5px;
}
.footer-bottom{
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid rgb(96, 95, 95);
}
.footer-bottom p{
    font-size: 14px;
    color: #707070;
}
.footer .container{
    margin-right: 50px;
}

/* 21. banner section */
.banner-section{
    padding: 80px 0;
    min-height: 680px;
}
.banner-text{
    color: #d3ad7f;
}
.banner-text h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--art-color);
}
.wallpaper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.headline{
    color: #c59d5f;
    font-weight: 100;
    line-height: 1;
}
.headline button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
    font-weight: bold;
    background: 0;
    
}
.headline button:hover{
    transform: scale(1.1);
    background: #fff;
    color: #000;
}

.photo{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* Portrait */

/* Heading */

.heading{
    text-align: center;
    color: #444;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 40px;
    text-decoration: underline;
}

.heading span{
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}


/* 22. fun facts section */





/* 23. portrait section */
.courses-section{
    margin-top: 70px;
}
.courses-section .title{
    color: var(--main-color);
    font-size: 18px;
}
.courses-section .sub-title{
    font-weight: bold;
    font-size: 2rem;
    color: var(--black-70);
}



/* 24. testimonials section */




/* 25. bai section */




/* 26. course datails section */




/* 27. contact section */




/* video */

.media-vidio{
    margin-top: 65px;
}

video{
    width: 550px;
    height: 490px;
}

/* artist */
.Artist{
    margin-top: 90px;
    background-color: #979797;
}
.Artist .img-artist img{
    filter:grayscale(1) brightness(0.5);
    margin-left: 0;
}
.artist-text{
    margin-left: 80px;
    color: aliceblue;
}


/* 2-page */

.container-fluid{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row .column{
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
}
.row .column img{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}



/* made it responsive */
@media only screen and (max-width: 800px){
    .row .column{
        flex: 50%;
    }
}
@media only screen and (max-width: 600px){
    .row .column{
        flex: 100%;
    }
}

/* 9. button */
.btn-theme{
    background-color: var(--main-color);
    color: var(--white);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.3s ease;
}
.btn-theme:hover{
    color: hsl(0 , 0, 100%);
    background-color: var(--button-hover-color);
}
.btn-2page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;

}
.btn-portrait{
    color: var(--black-70);
    font-size: 16px;
    border: 2px solid #000;
    padding: 8px 20px;
    letter-spacing: 1px;
    transition: 0.3s ease;
   
}
.btn-portrait:hover{
    color: var(--BLACK);
    letter-spacing: 2.5px;
    
}

.btn-artist{
    color: var(--black-70);
    font-size: 16px;
    border: 2px solid #fff;
    padding: 8px 20px;
    letter-spacing: 1px;
    transition: 0.3s ease;
   
}
.btn-artist:hover{
    color: var(--BLACK);
    letter-spacing: 2.5px;
    
}
